.container {
  padding: 20px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla th, .tabla td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.btnAprobar {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

.btnRechazar {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnAprobar:hover, .btnRechazar:hover {
  opacity: 0.8;
}
